@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}
else
{
    <div class="h-100 d-flex align-items-center justify-content-center">
        <h1>
            Welcome @Model.KeyVaultUser.FirstName @Model.KeyVaultUser.LastName
        </h1>
    </div>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <b />
        <p>
            To see your logins
        </p>
        <b />
        <button type="button" class="btn btn-primary">
            <a class="nav-link text-dark" asp-area="" asp-page="Keys/Index">Click Here</a>
        </button>
    </div>
}
