@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome to Dalles KeyVault</h1>
    </div>
    <div class="text-center">
        <h2 class="display-8">
            If you already have an account, follow this <a id="login" asp-area="Identity" asp-page="/Account/Login">link - Login</a>
        </h2>
    </div>
    <div class="text-center">
        <h2 class="display-8">
            Otherwise follow this link to create a new account <a id="register" asp-area="Identity" asp-page="/Account/Register">link - Make New Account</a>
        </h2>
    </div>
}
else
{
    <div class="h-100 d-flex align-items-center justify-content-center">
        <h1>
            Welcome @Model.KeyVaultUser.FirstName @Model.KeyVaultUser.LastName
        </h1>
    </div>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <b />
        <p>
            To see your logins
        </p>
        <b />
        <button type="button" class="btn btn-primary">
            <a class="nav-link text-dark" asp-area="" asp-page="Keys/Index">Click Here</a>
        </button>
    </div>
}
